<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e50a128556.js" crossorigin="anonymous"></script>
    <title>StoreAPI</title>
    <style>
      .sidecart{
  width: 320px;
  min-width: 320px;
  height: 100vh;
  position: fixed;
  top: 0px;
  overflow:auto !important;
  right: -320px;
  z-index: 9000;
  transition: 0.2s ease;
}

@media(max-width: 400px){
  .sidecart{
    width: 100vw;
    right: -100vw;
  }
}

.open-cart{
  right: 0px !important;
}
.open-cart:before{
  content: '';
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}


.sidecart-price > div{
  margin: auto;
  width: 100%;
  white-space: nowrap;
}
body{
  position: relative;
 
}
.modal-container{
  overflow: scroll;
  position: fixed;
  top:13%;
  left:32%;
  height:480px;
  width:450px;
  background-color: #000;
  border-radius: 5px;
  display:block;
  z-index:999;
  padding:1.5rem;
  overflow-x: hidden;
}
.remove-modal{
  display:none;
  z-index:-999;
}
    /* Target the scrollbar track */
    ::-webkit-scrollbar {
      width: 0px; /* Set the width of the scrollbar */
    }

    /* Target the scrollbar handle (thumb) */
    ::-webkit-scrollbar-thumb {
      background-color: #888; /* Color of the scrollbar handle */
      border-radius: 5px; /* Rounded corners for the scrollbar handle */
    }

    /* Optional: hover effect for the scrollbar handle */
    ::-webkit-scrollbar-thumb:hover {
      background-color: #555;
    }

    </style>
  </head>
  <body>
    <div class="mod remove-modal">
      <i style="transform: translateX(390px) translateY(-10px);cursor: pointer;color:#fff" id="modal-toggler" class="fa-solid fa-xmark "></i>
      <div class="modal-content"></div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">StoreAPI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" >
         
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'product-list' %}">Products <span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link add-product" style="display:none;cursor: pointer;">Add Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link logout-link" style="display:none;cursor: pointer;">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link signin-link" style="display:none;cursor: pointer;" href="{% url 'signin' %}">SignIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link signup-link" style="display:none;cursor: pointer;" href="{% url 'signup' %}">SignUp</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <button class="btn btn-primary ml-2" onclick="toggleCart()" >Cart</button>
      </div>
    </nav>
    {% block productlist %}
    {% endblock %}
    {% block productdetail %}
    {% endblock %}

    <div class="sidecart bg-dark text-center">
  
      <ul class="nav flex-column">
        <div class="text-light h4 m-0 px-4 text-center">
          Cart Items
          <div style="right:20px;cursor: pointer;" class="d-inline position-absolute" onclick="toggleCart()" >
            <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div id="cart-items">
          <p style="text-align: center;color:aliceblue" class="mt-3">Cart is Empty</p>
        </div>
      </ul>
     
      <div id="total">    
      </div>
      </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 
  
  <script  text="text/javascript">
    var is_super=false
    var is_authenticated=false
    const token=localStorage.getItem('auth');
    


    function checkToken(){  
      if(token!==null){

        const decodedToken = JSON.parse(atob(token.split('.')[1]));
    
        $.ajax({
          url:`http://127.0.0.1:8000/api/users/${decodedToken.user_id}/`,
          method:'GET',
          success:function(data){
            console.log(data)
            is_super=data.is_superuser
            is_authenticated=data.is_authenticated
            window.is_super=is_super
            window.is_authenticated=is_authenticated
            
            if(is_authenticated || is_super){
              console.log("OK")
            var logout_btn = document.querySelector(".logout-link")
            logout_btn.style.display = "block"

            if(is_super){
              var add_btn = document.querySelector(".add-product")
              add_btn.style.display = "block"
            }
           
            
          }
          }
        })

  }
      else{
              var signin_btn = document.querySelector(".signin-link")
              signin_btn.style.display = "block"

              var signup_btn = document.querySelector(".signup-link")
              signup_btn.style.display = "block"
      }
}
  





           
            
    function logoutUser(){
      var logout_btn = document.querySelector(".logout-link")
      logout_btn.addEventListener("click", function(e){
        e.preventDefault();
        localStorage.removeItem("auth")
        window.location.href=`http://127.0.0.1:8000/signin/`
      })
    }        


    function addProduct(){
      var modal = document.querySelector(".mod");
      var button=document.querySelector('.add-product')
      button.addEventListener("click", function (e) {
          e.preventDefault();
          modal.classList.add("modal-container");
          modal.classList.remove("remove-modal");
         
          var modal_content = document.querySelector(".modal-content");
              output = ` 
              <h2 style="text-align: center;">Add Product</h2>
                <form class="m-2">
            <div class="form-group m-2">
              <label for="title">Enter Title</label>
              <input type="text" class="form-control" id="title">
            </div>
            <div class="form-group m-2">
              <label for="unit_price">Enter Unit Price</label>
              <input type="text" class="form-control" id="unit_price" >
            </div>
            <div class="form-group m-2">
              <label for="inventory">Enter Inventory</label>
              <input type="text" class="form-control" id="inventory" >
            </div>
            <div class="form-group m-2">
              <label for="barcode">Enter Barcode</label>
              <input type="text" class="form-control" id="barcode" >
            </div>
            <div class="form-group m-2">
              <label for="description">Enter Description</label>
              <textarea id="description" class="form-control"   cols="30" rows="5" ></textarea>
              
            </div>
            <div  class="d-flex justify-content-center"> <button class="btn btn-sm btn-outline-success add-prd">Add</button></div>
            
           
                </form>
              `;
              modal_content.innerHTML = output
              var add_btn=document.querySelector('.add-prd')
              
              add_btn.addEventListener('click',function(e){
                e.preventDefault()
                var title=document.getElementById('title').value
                var description=document.getElementById('description').value
                var unit_price=document.getElementById('unit_price').value
                var barcode=document.getElementById('barcode').value
                var inventory=document.getElementById('inventory').value
                console.log(title, unit_price, barcode, inventory,"desc:",description)
                var access=localStorage.getItem('auth')
                $.ajax({
                  url:`http://127.0.0.1:8000/api/products/`,
                  method:'POST',
                  data:{"title":title, "inventory":inventory,"description":description,"unit_price":unit_price,"barcode":barcode,"csrfmiddlewaretoken": '{{ csrf_token }}'},
                  dataType: 'json',
                  headers:{"Authorization":`Bearer ${access}`},
                  success:function(data){
                    modal.classList.remove("modal-container");
                    modal.classList.add("remove-modal");
                    
                    getProductList()
                    console.log("added")

                  }
                })
              })
           
         
          
        });
    }

    function setCartId(){
      console.log("setCartId")
      const cart_id=localStorage.getItem('cart_id')
      if(cart_id==null){
        $.ajax({
          url:`http://127.0.0.1:8000/api/carts/`,
          method:'POST',
          headers:{"Authorization":`Bearer ${localStorage.getItem('auth')}`},
          dataType: 'json',
          success:function(cart){
            console.log(cart)
            localStorage.removeItem('cart_id')
            localStorage.setItem('cart_id',cart.id)
          }
        })
      }
    }
    
    

    function toggleCart(){
      if (document.querySelector('.sidecart').classList.contains('open-cart')){
        document.querySelector('.sidecart').classList.remove('open-cart');
      }
      else{
        showCartItems()
        document.querySelector('.sidecart').classList.add('open-cart');
        
      }
  
}

    function showCartItems(){
        const cart_id=localStorage.getItem('cart_id')
        console.log(cart_id)

  $.ajax({
    url:`http://127.0.0.1:8000/api/carts/${cart_id}/`,
    method:'GET',
    headers:{"Authorization":`Bearer ${localStorage.getItem('auth')}`},
    success:function(data){
      console.log(data)
      var output=""
      if(data.cart_items.length>0){
        var container=document.getElementById('cart-items')
        container.innerHTML = ``
      var div=document.getElementById('total')
      div.innerHTML=``
        console.log("in creating items")
      data.cart_items.forEach(item => {
        var img=""
        console.log(item.product.images.length)
        if(item.product.images.length<2){
          img=`<img class="img-fluid" src="${item.product.images[0].image}" alt="">`
        }
        else{
          img=`<img class="img-fluid" src="${item.product.images[1].image}" alt="">`
        }
        output+=`
        <li class="nav-link d-flex flex-wrap flex-row">
          <input type="text" class="item-id" hidden value="${item.id}">
            <div class="col-12 text-light h5 text-center p-0">${item.product.title}</div>
            <div  class="col-4 p-0">
             ${img}
            </div>
            <div class="col-2 bg-primary text-light justify-content-around d-flex flex-column">
              
              <button style="visibility:hidden;cursor:pointer" class="product-plus"><i style="visibility:visible" class="fas fa-plus "></i></button>
              
              <form  action="">
                <input class="product-val" style="width:35px;border:0;outline:0" type="number" min="1" value="${item.quantity}">
               
              </form>
              <button style="visibility:hidden;cursor:pointer" class="product-minus"><i class="fas fa-minus" style="visibility:visible"></i></button>
              
            </div>
            <div class="sidecart-price pl-0 col-6 bg-primary text-right d-flex flex-wrap text-light">
              <div style="cursor:pointer" class="text-right text-dark d-flex flex-row justify-content-end align-items-center h6 m-0 p-0 remove-item">Remove <span class="h5 ml-2 m-0 p-0 "><b>x</b></span></div>
              <div class="product-price">${item.product.unit_price}$</div>
              <div class=""><span class="text-dark"><b>Total</b></span> <span class="product-price-total">${item.total_price}$</span></div>
            </div>
            
          </li>
        `

      });
      
      
      container.innerHTML = output
      
      
      div.innerHTML =`
      <div class="text-light h5 text-left mx-3">Total: <span class="text-success" id="sidecart-total">${data.total_price}$</span></div>
        <div class="p-2">
          <button type="button" class="btn btn-success w-100 checkout-btn">Checkout</button>
        </div>
      `
      var checkout_btn=document.querySelector('.checkout-btn')

      checkout_btn.addEventListener('click', function(e){
        e.preventDefault()
        const cart_id=localStorage.getItem('cart_id')
        console.log(cart_id)
        const token=localStorage.getItem('auth');
        const decodedToken = JSON.parse(atob(token.split('.')[1]));
        const user_id=decodedToken.user_id
        $.ajax({
          url:`http://127.0.0.1:8000/api/orders/`,
          method:'POST',
          headers:{'Authorization':`Bearer ${localStorage.getItem('auth')}`},
          dataType: 'json',
          data:{"cart_id":`${cart_id}`},
          success: function(data){
            console.log(data)
            window.location.href=data.checkout_url
          }
        })

      })

      var remove_buttons=document.querySelectorAll('.remove-item')
      remove_buttons=[...remove_buttons]
      
      var plus_buttons=document.querySelectorAll('.product-plus')
      plus_buttons=[...plus_buttons]
      

      var minus_buttons=document.querySelectorAll('.product-minus')
      minus_buttons=[...minus_buttons]
      

      var inputs=document.querySelectorAll('.product-val')
      inputs=[...inputs]
      
      var items=document.querySelectorAll('.item-id')
      items=[...items]
      console.log(items)
      plus_buttons.forEach((button,num)=>{
        button.addEventListener('click',function(){
          var value=`${inputs[num].value}+1`
          value=eval(value)
          inputs[num].value=value
          
          $.ajax({
            url:`http://127.0.0.1:8000/api/carts/${cart_id}/items/${items[num].value}/`,
          method: 'PATCH',
          headers:{"Authorization":`Bearer ${localStorage.getItem('auth')}`},
          data:{"quantity":value,"csrfmiddlewaretoken": '{{ csrf_token }}'},
          dataType:"json",
        success:function(data){
          
          showCartItems()
       
        
      }
          })
      
    })
  })

      minus_buttons.forEach((button,num)=>{
        button.addEventListener('click',function(){
          var value=`${inputs[num].value}-1`
          value=eval(value)
          inputs[num].value=value
          if(value==0){
            $.ajax({
            url:`http://127.0.0.1:8000/api/carts/${cart_id}/items/${items[num].value}/`,
          method: 'DELETE',
          headers:{"Authorization":`Bearer ${localStorage.getItem('auth')}`},
          data:{"csrfmiddlewaretoken": '{{ csrf_token }}'},
          dataType:"json",
        success:function(data){
          console.log("removed")
          window.showCartItems()   
      }
          })
          }
          else{
            $.ajax({
            url:`http://127.0.0.1:8000/api/carts/${cart_id}/items/${items[num].value}/`,

          method: 'PATCH',
          headers:{"Authorization":`Bearer ${localStorage.getItem('auth')}`},
          data:{"quantity":value,"csrfmiddlewaretoken": '{{ csrf_token }}'},
          dataType:"json",
        success:function(data){

          showCartItems()
        
        
      }
          })
          }

      
    })
  })

      remove_buttons.forEach((button,num)=>{
        button.addEventListener('click',function(){
         
          $.ajax({
            url:`http://127.0.0.1:8000/api/carts/${cart_id}/items/${items[num].value}/`,
          method: 'DELETE',
          headers:{"Authorization":`Bearer ${localStorage.getItem('auth')}`},
          data:{"csrfmiddlewaretoken": '{{ csrf_token }}'},
          dataType:"json",
        success:function(data){
          console.log("removed")
          window.showCartItems()
        
        
      }
          })
      
    })
  })  
  
}
else{
      var container=document.getElementById('cart-items')
      container.innerHTML = `
      <p style="text-align: center;color:aliceblue" class="mt-3">Cart is Empty</p>
      `
      var div=document.getElementById('total')
      div.innerHTML=``
}
    }
  })
  

}
    
    checkToken()
    logoutUser()
    setCartId()
    addProduct()
    window.checkToken=checkToken()
    window.showCartItems = showCartItems
    window.toggleCart=toggleCart
    


  </script>
   {% block productlistrequest%}
   {% endblock %}
   {% block productdetailrequest%}
  
  {% endblock %}
</html>


