{% extends 'frontend/base.html' %}

{% block productdetail %}
<div class="container div">

</div>
<div class="reviews p-5">
  <h2 class="mb-3">Reviews</h2>


</div>
{% endblock %}

{% block productdetailrequest %}
<script text="text/javascript" >

$.ajax({
  url:`http://127.0.0.1:8000/api/products/{{product_id}}`,
  method:'GET',
  success: function(data){
    var container=document.querySelector('.div');
    
    var imgs=''
    data.images.forEach((image,i) => {
      if (i==0){
        imgs+=`
      <div class="carousel-item active ">
        <img style="object-fit:cover;height:400px" class="d-block w-100" src="${image.image}" alt="First slide">
      </div>
      `
      }
      else{
        imgs+=`
      <div class="carousel-item ">
        <img style="object-fit:cover;height:400px" class="d-block w-100 " src="${image.image}" alt="First slide">
      </div>
      `
      }
      
    });
    
    var output=`
    <div  id="carouselExampleControls" class="carousel slide " data-ride="carousel">
    <div class="carousel-inner ">
      ${imgs}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

    <div class="card" style="width: 18rem;">
      
    <div class="card-body">
      <h5 class="card-title">${data.title}</h5>
      <p class="card-title">${data.unit_price}$</p>
      <p class="card-title">${data.inventory} Left in Stock</p>
      <p class="card-text">${data.description}</p>
      <form action="" method="POST">
        <label for="qty">Qty</label>
        <input type="number" id="qty" min="1" required class="qty" value="1"  >
        <p class="text-danger" id="qty-error" style="display:none;font-weight:600;font-size:13px">Enter a valid quantity</p>
        <button type="submit" class="btn btn-primary cart-button">Add to Cart </button>
      </form>
      
    </div>
  </div>
    `
    container.innerHTML +=output
    
      addToCart(data.id)
    



    
    
  }
})

const cart_id=localStorage.getItem('cart_id')
if (cart_id==null){
  $.ajax({
  url:'http://127.0.0.1:8000/api/carts/',
  method:'POST',
  success:function(data){
    localStorage.setItem('cart_id',`${data.id}`)
  }
})

}

function addToCart(product_id){
  
  var button=document.querySelector('.cart-button')
  button.addEventListener('click',function(e){
    
    e.preventDefault()
    var qty=document.querySelector('.qty')
    var quantity=qty.value
    console.log(quantity)
    
    const cart_id=localStorage.getItem('cart_id')
   
    $.ajax({
      url:`http://127.0.0.1:8000/api/carts/${cart_id}/items/`,
      method: 'POST',
      headers:{"Authorization":`Bearer ${localStorage.getItem('auth')}`},
      data:{"product":product_id,"quantity":quantity,"csrfmiddlewaretoken": '{{ csrf_token }}'},
      dataType:"json",
      success:function(data){
        var para=document.getElementById('qty-error')
        para.style.display="none"
        console.log("added")
        window.toggleCart()
        
      },
      error:function(error){
        console.log(error)
      
      if(error.responseJSON.messages){
        const msgs=error.responseJSON.messages
        
        if(msgs[0].message=`Token is invalid or expired`){
          window.location.href=`http://127.0.0.1:8000/signin/`
           
      }
      }
      if(error.responseJSON.quantity){
        var para=document.getElementById('qty-error')
        para.style.display="block"
      }
      }
    })
  })
}

function getReviews(){
  const currentURL = window.location.href;
  var id=currentURL[currentURL.length-2]
  $.ajax({
    url:`http://127.0.0.1:8000/api/products/${id}/reviews`,
    method:'GET',
    success: function(reviews){
      const months = [
    "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
  ];
      
         const review_container=document.querySelector('.reviews')   
         let output=""  
         reviews.forEach(function(review){
          var date=new Date(review.posted_on)
          const day = date.getDate();
          const monthIndex = date.getMonth();
          const year = date.getFullYear();
          const formattedDate = `${months[monthIndex]} ${day}, ${year}`;

          const rating=review.rating
          let stars=""
          for (let i=0;i<rating;i++){
            stars+=`<i class="fa-solid fa-star" style="color: #177d23;"></i>`
          }
          if(rating<5){
            for(let i=rating;i<5;i++){
              stars+=`<i class="fa-regular fa-star"></i>`
            }
          }
          
          output+=`
          
    <div class="review-body ">

              <div class="user-info">
                <img style="width:35px;height:35px;border-radius: 100%;object-fit: cover;" src="http://127.0.0.1:8000${review.customer.user.image}" alt="">
                <span style="text-transform:capitalize">${review.customer.user.username}</span>
              </div>
              <div class="rating-info">
                <div class="rating-stars">
                 ${stars}
                  <span style="font-weight: 600;margin-left: 0.3rem;">${review.title}</span>
                </div>
                
              </div>
              <div class="review-date">
                <p style="margin:0;padding: 0;margin-bottom: 0.2rem;">Reviewed in the United States on ${formattedDate}</p>
              </div>
              <div class="review-description">
                <p>${review.description}</p>
              </div>
   </div>

          
          `
        
        
        })
          review_container.innerHTML += output;            
    }
  })
}
getReviews()
</script>
{% endblock %}

